.vscode

resources/objdumps/objdump*
resources/dwarfs/dwarf*
resources/insts/insts*
resources/addr2lines/addr2line*
resources

src/*.d
src/*.o

kmod/.*
kmod/*.ko
kmod/*.mod*
kmod/*.o
kmod/*.dwo
kmod/Module*
kmod/modules*

myperf
branches.log*
unwind.log*
